body{
    font-family: "Lato", serif;
    font-size: 30px;
    text-align: center;
}

.body_entrada{
    background-color: #C89C7D
}

.body_entrada1{
    margin: 0;
    height: 100vh;
    background: linear-gradient(
            to bottom,
            #ffcf86 0%, #ffcf86 33.33%,
            #a6cbff 33.33%, #a6cbff 66.66%,
            #bbc897 66.66%, #bbc897 100%
    );
}

.img {
    padding-left: 600px;
    padding-top: 30px;

    max-width: 300px; /* Define largura máxima para imagens */ ==
height: auto;
}
.img_embalagem {
    padding-left: 600px;
    padding-top: 30px;
    margin-right: 100px;

    max-width: 300px; /* Define largura máxima para imagens */
    height: auto;}

#h1{
    text-align: center;
    color: white;
    padding-top: 250px;
    text-transform: uppercase;
}
.button_entrada{
    background-color: white;
    color: #C89C7D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

article {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    margin-bottom: 20px; /* Espaçamento entre os artigos */
}

.p_entrada1 {
    color: white;
    text-align: left;
    padding-left: 30px;
    text-transform: uppercase;
    margin-right: 20px; /* Espaço entre o texto e a imagem */
}
.p_entrada1:hover { text-decoration: underline;

}
a{text-decoration: none;}

/*CLASS = BODY ENTRADA_BEATA*/
.body_entradabeata {
    margin: 0;
    background-color: #FFCF86;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*CLASS = BODY ENTRADA_EMBALAGEM*/
.body_entradaembalagem {
    margin: 0;
    background-color: #a6cbff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*CLASS = BODY ENTRADA_PASTILHA*/
.body_entradapastilha {
    margin: 0;
    background-color: #BBC897;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
}

.content {
    flex: 1;
}

.h1_entrada {
    font-size: 5rem;
    color: white;
    margin: 0;
    line-height: 1.2;
    text-align: left;
}

.h1_entrada span {
    display: block;
}

.titulo_sec {
    font-size: 1.5rem;
    color: #FFF;
    margin-top: 1rem;
}

/*BOTAO BEATA*/
.button_beata {
    margin-top: 2rem;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: normal;
    color: white;
    background-color: #FF9C08;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-left: 250px;
}

/*BOTAO EMBALAGEM*/
.button_embalagem {
    margin-top: 2rem;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: normal;
    color: white;
    background-color: #1C2BFF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-left: 250px;
}
/*BOTAO PASTILHA*/
.button_pastilha {
    margin-top: 2rem;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: normal;
    color: white;
    background-color: #DB8FAB;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-left: 250px;
}

/*IMAGEM BEATA*/
.imagem_beata {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_beata img {
    max-width: 100%;
    height: auto;
}

/*IMAGEM EMBALAGEM*/
.imagem_embalagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_embalagem img {
    max-width: 100%;
    height: auto;

}
/*IMAGEM PASTILHA*/
.imagem_pastilha {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_pastilha img {
    max-width: 100%;
    height: auto;
}

/*pop-ups*/

.popupe{
    border: 4px solid #a6cbff;
    border-radius: 10px;
    margin: 10px;
}

.popupe p{
    padding: 20px;
}

.popupb{
    border: 4px solid #ffcf86;
    border-radius: 10px;
    margin: 10px;
}

.popupb p{
    padding: 20px;
}

.popupp{
    border: 4px solid #bbc897;
    border-radius: 10px;
    margin: 10px;
}

.popupp p{
    padding: 20px;
}

button{
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #c89c7d;
    font-weight: 600;
    margin: 4px;
}

/*colocar botões à direita - para popups */
.botaodireita{
    float: right;  /* Alinha o botão à esquerda */
    padding: 10px; /* Estilos do botão */
}

.campanhas{
    font-weight: 600;
    text-transform: uppercase;
}

/*colocar divs restritas ao tamanho do conteúdo  */

div{
    display: inline-block;
}

/*só para ver se funciona */

<<<<<<< HEAD
#imagemfundo1 {
    background-image: url(imgs/beata/parque1.png); /* Substitua pelo caminho da imagem */
    background-size: cover; /* A imagem cobre todo o fundo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem no fundo */
}


